Repository awslabs/aws-deployment-framework, pull requests merged in 2023-04, with the labels that each got.

#622 fix documentation error for codebuild custom image
  docs/user-guide.md
Labels: docs

#613 Remove Unused SAM Build
  src/template.yml
Labels: enhancement

#612 [Bug] Fix custom pipeline type configuration not loaded
  src/lambda_codebase/initial_commit/bootstrap_repository/adf-build/shared/cdk/cdk_stacks/main.py
  src/lambda_codebase/initial_commit/bootstrap_repository/adf-build/shared/cdk/cdk_stacks/tests/test_pipeline_creation.py
Labels: bug

#625 Fixing broken Travis link (and build badge)
  docs/serverless-application-repo.md
Labels: bug, docs
